In [1]:
from sklearn import preprocessing
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
from sklearn import svm
from sklearn.model_selection import train_test_split

In [27]:
data = pd.read_csv("./feature_labeled.csv", index_col=0)

In [36]:
data.describe()

,vis,r_fri_follow,avg_fav,frequency,label
count,266203.000000,266203.000000,266203.000000,266203.000000,266203.000000
mean,0.107638,0.010024,0.010270,0.015347,0.919223
std,0.072993,0.002336,0.003547,0.012458,0.272492
min,0.010000,0.010000,0.010000,0.010000,0.000000
25%,0.048487,0.010000,0.010015,0.010461,1.000000
50%,0.086311,0.010000,0.010067,0.011689,1.000000
75%,0.124930,0.010000,0.010180,0.015282,1.000000
max,1.010000,1.010000,1.010000,1.010000,1.000000

In [38]:
label = data.apply(lambda row: 0 if row["vis"] > 0.107638 else 1, axis = 1)

In [40]:
data["label"] = label

In [41]:
data

             vis  r_fri_follow   avg_fav  frequency  label
0       0.086311          0.01  0.010136   0.010126      1
1       0.278746          0.01  0.010541   0.016171      0
2       0.086311          0.01  0.010006   0.016470      1
3       0.124134          0.01  0.010432   0.012517      0
4       0.086311          0.01  0.010016   0.014017      1
...          ...           ...       ...        ...    ...
267462  0.132760          0.01  0.010039   0.010819      0
267463  0.047823          0.01  0.010852   0.010326      1
267464  0.086311          0.01  0.010022   0.013705      1
267465  0.163285          0.01  0.010277   0.016397      0
267466  0.086974          0.01  0.012230   0.010319      1

[266203 rows x 5 columns]

In [49]:
X = data.iloc[:,[1,2,3]]
Y = data.iloc[:,[4]]

In [50]:
data[data["label"] == 0]

             vis  r_fri_follow   avg_fav  frequency  label
1       0.278746          0.01  0.010541   0.016171      0
3       0.124134          0.01  0.010432   0.012517      0
13      0.202435          0.01  0.010340   0.010120      0
16      0.163285          0.01  0.010054   0.010219      0
19      0.124798          0.01  0.010047   0.073066      0
...          ...           ...       ...        ...    ...
267451  0.317233          0.01  0.010019   0.013796      0
267454  0.278082          0.01  0.010032   0.011048      0
267456  0.124134          0.01  0.010116   0.011019      0
267462  0.132760          0.01  0.010039   0.010819      0
267465  0.163285          0.01  0.010277   0.016397      0

[104412 rows x 5 columns]

In [51]:
data[data["label"] == 1]

             vis  r_fri_follow   avg_fav  frequency  label
0       0.086311          0.01  0.010136   0.010126      1
2       0.086311          0.01  0.010006   0.016470      1
4       0.086311          0.01  0.010016   0.014017      1
5       0.010000          0.01  0.010197   0.011249      1
6       0.099582          0.01  0.010237   0.010787      1
...          ...           ...       ...        ...    ...
267460  0.086974          0.01  0.010000   0.010738      1
267461  0.048487          0.01  0.010078   0.010680      1
267463  0.047823          0.01  0.010852   0.010326      1
267464  0.086311          0.01  0.010022   0.013705      1
267466  0.086974          0.01  0.012230   0.010319      1

[161791 rows x 5 columns]

In [52]:
X = X.to_numpy()
Y = Y.to_numpy().T[0]

In [53]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, 
                                    test_size=0.3, random_state=42)

In [23]:
Y

array([1, 1, 1, ..., 1, 1, 1], dtype=int64)

In [ ]:
svm_clf = svm.SVC(decision_function_shape='ovo')
svm_clf.fit(X_train, y_train)

In [ ]:
from sklearn.metrics import accuracy_score, classification_report
prediction1 = svm_clf.predict(X_test)
print(accuracy_score(y_test,prediction1),'\n',classification_report(y_test,prediction1))